<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Helpful hint:</strong> An interesting or funny video with a descriptive title will get more upvotes...please keep the cat videos to a minimum.
</div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url, class: "form-control" %>
    <span id="helpBlock" class="help-block">At this time only youtube videos are supported.</span>
  </div>
  <div class="form-group">
    <%= f.submit "submit", class: "btn btn-default" %>
</div>
<% end %>
