<%= form_for @post, class: "post_form" do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <body class="form1">
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control form-control-gray", placeholder: "Having a descriptive title will help get more upvotes." %>
  </div>
  <div class="form-group">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url, class: "form-control form-control-gray ", placeholder: "YouTube, Vimeo, Vine, Instagram and Twitch videos are supported, as well as some gifs." %>

    <div id="helpBlock" class="help-block">Having an issue with your link? <b>Click here</b> to see accepted URL formats.</div>
    
    <div id="urlFormattingList" style="display:none;">
      <ul>
        <li><span>YouTube</span> youtube.com/watch?v=1A2b3C</li>
        <li><span>Instagram</span> instagram.com/p/1A2b3C</li>
        <li><span>Vine</span> vine.co/v/1A2b3C</li>
        <li><span>Twitch</span> twitch.tv/somechannel/v/1A2b3C</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tag_list, 'Tags (comma-seperated)' %>
    <%= f.text_field :tag_list, value: @post.tag_list.join(","), class: "form-control form-control-gray" %>
  </div>
  <div class="form-group">
    <%= f.submit "submit", class: "btn btn-primary" %>
</div>
</body>
<% end %>
