<div class="<%= cycle('list_line_odd', 'list_line_even')%>">
  <div class="row video-post">
    <div class="col-lg-12">

      <h3 class="text-center"><%= post.title %></h3>

      <% if current_user %>
        <ul class="text-left post-options">  
          <li><%= link_to 'Show', post %></li>
          <% if current_user == post.user || current_user.admin? %>  
            <li><%= link_to '| Edit', edit_post_path(post) %></li>
            <li><%= link_to '| Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>  
        </ul>
      <%end%>

      <%= embedded_video(post) %>


      </div>
  </div>
</div>

<div class="btn-group">
  <%= link_to like_post_path(post), method: :put, class: "btn btn-info btn-md", remote: true do %>
    <span class="badge up-vote-<%=post.id%>"><%= post.get_upvotes.size %></span>
    <span class="glyphicon glyphicon-arrow-up"></span>
  <% end %>

  <%= link_to dislike_post_path(post), method: :put, class: "btn btn-info btn-md", remote: true do %>
    <span class="badge down-vote-<%=post.id%>"><%= post.get_downvotes.size %></span>
    <span class="glyphicon glyphicon-arrow-down"></span>
  <% end %>
</div>
