<h2> What the internet is watching: </h2>



<div class= "btn-group">
<%= link_to posts_path, class: "btn btn-primary sharp" do %>
<span class="glyphicon glyphicon-star"></span> popular
<% end %>
<%= link_to posts_path(sort_by: "added_on"), class: "btn btn-success" do %>
<span class="glyphicon glyphicon-time"></span> newest
<% end %>
<%= link_to random_path, class: "btn btn-danger sharp" do %> 
 <span class="glyphicon glyphicon-random"></span> random
<% end %>
</div>

<div class="post_list">
  <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %>
</div>

<div class="text-center page_info" >
  <%= page_entries_info @vars %>
</div>
    
<div class= "pagination_links text-center" >
<%= will_paginate @posts, renderer: BootstrapPagination::Rails, :page_links => false, previous_label: "< prev", next_label: "next >"%>
 

 </div>

