
<br>
<br>
<header>
<h2> What the internet is watching, sorted by 
<%if @most_popular%>
<h2 class= "mp_color">most popular
	</h2>
	<%end%>
<%if @added_on %> 
<h2 class= "ao_color">newest first
</h2>
<%end%>
</h2>
</header>

<br>
<br>


<div class= "btn-group">
<%= link_to posts_path(sort_by: "most_popular"), class: "btn btn-danger sharp" do %>
<span class="glyphicon glyphicon-star"></span> popular
<% end %>
<%= link_to posts_path(sort_by: "added_on"), class: "btn btn-success" do %>
<span class="glyphicon glyphicon-time"></span> newest
<% end %>
<%= link_to random_path, class: "btn btn-primary sharp" do %> 
 <span class="glyphicon glyphicon-random"></span> random
<% end %>
</div>

<div class="post_list">
  <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %>
</div>

<div class="text-center page_info" >
  <%= page_entries_info @posts, model: 'Post' %>
</div>
    
<div class= "text-center pagination_links" >
<%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "< prev", next_label: "next >", inner_window: 1, outer_window:0 %>
 </div>

