<header class="navbar navbar-inverse" role= "navigation" style="border-radius:0px;">
  <div class="navbar-inner">
    <div class="container">

      <div class="navbar-header">
      <a class "navbar-brand" href="/">
      <%= image_tag "tapedek3.png"%>
      </a>
      </div>
        
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right"> 
          <% if current_user and current_user.admin? %>
            <li><%= link_to "admin panel", admin_path %></li>
          <% end %>
          <li><%= link_to 'post a new video', new_post_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'profile', user_path(current_user) %></li>
            <li><%= link_to inbox_with_notification_number, conversations_path %></li>
            <li><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'sign in', new_user_session_path %></li>
            <li><%= link_to 'sign up', new_user_registration_path %></li>
            <li><%= link_to 'about', about_path %></li>
          <% end %>
    
        </ul>
      </nav>
    
    </div>
  </div>
</header>