<!DOCTYPE html>
<html>
<head>
  <title>Tapedek: what the internet is watching</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/header' %>
	<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "aler alert-#{name}")%>
	<% end %>
	<main id="content" class="container">
	
<%= yield %>

</main>


</body>

<footer>
 a DKC production <br> tapedek © 2015
</footer>

</html>

